.right { float: right; }
img { width: 15em; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
body {
    margin-top: 1.0em;
    background-color: #fff6ed;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #000000;
}
#container {
    margin: 0 auto;
    width: 700px;
}
h1 {
    font-size: 3.8em;
    color: #000912;
    margin-bottom: 3px;
}
h2 {
    font-size: 1.5em;
    color: #000912;
}
h3 {
    text-align: center;
    color: #000912;
}