<!DOCTYPE html>
<html>
<head>
   {% seo %}
   <link rel="icon" href="/umber/image.jpg?">
   <link rel="stylesheet" href="/umber/assets/css/style.css">
   <meta charset="utf-8">
   <meta property="og:image" content="https://cup.github.io/umber/image.jpg">
</head>
<body>
   <div class="container-lg markdown-body my-5 px-3">
{% if page.url != '/' %}
   {% if page.url == page.dir %}
      <p>{% octicon arrow-up height:20 %} <a href="..">Up</a></p>
   {% else %}
      <p>{% octicon arrow-up height:20 %} <a href=".">Up</a></p>
   {% endif %}
{% endif %}
{% if page.url == page.dir %}
   {% assign dn1 = '.' | append: page.url | split: '/' %}
   {%- for each in site.html_pages -%}
      {%- assign dn2 = '.' | append: each.url | split: '/' | pop -%}
      {%- if dn2 == dn1 -%}
         {% if each.url == each.dir %}
      <p>{% octicon file-directory %}
      <a href="/umber{{ each.url }}">{{ each.title }}</a></p>
         {% else %}
      <p>{% octicon file %}
      <a href="/umber{{ each.url }}">{{ each.title }}</a></p>
         {% endif %}
      {%- endif -%}
   {%- endfor -%}
{% endif %}
{{ content }}
   </div>
   <script src="/umber/javascript/kramup/main.js"></script>
   <script src="//cdn.jsdelivr.net/npm/anchor-js@4.1.1/anchor.min.js"></script>
   <script>anchors.add();</script>
</body>
</html>
