#newer, #older {
   margin: 25px;
}
a {
   text-decoration: none;
}
body {
   background: linen;
   font-family: Arial;
}
figure {
   /* need this for long titles */
   flex-basis: 320px;
   margin: 16px;
}
footer {
   font-size: xx-large;
}
input {
   font-family: Consolas, monospace;
   font-size: large;
   max-width: 100%;
   width: 420px;
}
main {
   display: flex;
   flex-wrap: wrap;
   font-weight: 500;
}
