@font-face
{
   font-family: "Open Sans";
   src: url("open-sans.woff2");
}
a
{
   text-decoration: none;
}
body
{
   background: lavenderblush;
}
figure
{
   flex-basis: 320px;
}
main
{
   display: flex;
   flex-wrap: wrap;
   font-family: "Open Sans";
}
p
{
   margin: 0;
}
