<!DOCTYPE html>
<html>
<head>
   {% seo %}
   <link rel="icon" href="/mauve/assets/image.jpg?">
   <link rel="stylesheet" href="/mauve/assets/css/style.css">
   <link rel="stylesheet" href="/mauve/assets/font-awesome.css">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <meta property="og:image"
   content="https://cup.github.io/mauve/assets/image.jpg">
</head>
<body>
   <div class="container-lg markdown-body my-5 px-3">
      <ul class="fa-ul">
{% if page.url != "/" %}
         <li>
            <a class="fa fa-arrow-up fa-li"></a>
   {% if page.url == page.dir %}
            <a href="..">Up</a>
   {% else %}
            <a href=".">Up</a>
   {% endif %}
         </li>
{% endif %}
{% if page.url == page.dir %}
   {% assign dn1 = "." | append: page.url | split: "/" %}
   {%- for each in site.html_pages -%}
      {%- assign dn2 = "." | append: each.url | split: "/" | pop -%}
      {%- if dn2 == dn1 -%}
         <li>
         {% if each.url == each.dir %}
            <a class="fa fa-folder-o fa-li"></a>
         {% else %}
            <a class="fa fa-file-text-o fa-li"></a>
         {% endif %}
            <a href="/mauve{{ each.url }}">{{ each.title }}</a>
         </li>
      {%- endif -%}
   {%- endfor -%}
{% endif %}
      </ul>
{{ content }}
   </div>
   <script src="/mauve/assets/font-awesome.js"></script>
</body>
</html>
