a
{
   text-decoration: none;
}
body
{
   background: lavenderblush;
   font-family: Arial;
}
figure
{
   flex-basis: 320px;
}
main
{
   display: flex;
   flex-wrap: wrap;
   font-weight: 500;
}
p
{
   margin: 0;
}
