.right {
  float: right;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  color: black;
  width: 700px;
  margin: 1em auto;
  background-color: #fff6ed;
  /* Helvetica is not free superuser.com/a/95003 */
  font-family: Arial, FreeSans, san-serif;
}
h1 {
  font-size: 3.8em;
  color: #000912;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  color: #000912;
  margin-bottom: 0;
}
img {
  margin: 10px;
  max-height: 50px;
  max-width: 100px;
  vertical-align: middle;
}
