@font-face
{
   font-family: 'Miller Display Italic';
   src: url(miller-display-italic.woff2);
}
@font-face
{
   font-family: 'Open Sans';
   src: url(open-sans.woff2);
}
#next, #prev, .header
{
   color: seagreen;
}
#next, #prev, form
{
   margin: 0 25px;
}
.header, footer, main
{
   font-family: 'Open Sans';
}
.header, h1
{
   margin: 0 50px;
}
.header, main
{
   font-size: 2.3ex;
}
a
{
   text-decoration: none;
}
body
{
   background: radial-gradient(lavender 60%, thistle);
}
figure
{
   flex-basis: 426px;
}
figure, header
{
   margin: 8px;
}
footer
{
   font-size: 5ex;
   margin: 0 0 8px;
}
footer, header, main
{
   display: flex;
   flex-wrap: wrap;
   justify-content: center; /* horizontal */
}
h1
{
   color: rebeccapurple;
   font-family: 'Miller Display Italic';
   font-size: 9ex;
}
header
{
   align-items: center; /* vertical */
}
img
{
   height: 240px;
   object-fit: cover;
   object-position: top;
   width: 100%;
}
input
{
   text-align: center;
   vertical-align: middle;
}
main
{
   align-items: flex-end; /* vertical */
}
